body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
}

/* .nav-flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
} */

.main-content-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 35px;
}

.input-container {
  padding: 1rem;
  width: 200px;
  /* border: solid 2px pink; */
}

.board-wrapper {
  background-color: red;
  /* margin: 20px auto; */
  width: 650px;
  height: auto;
  border-radius: 20px;
  /* border: solid 2px pink; */
}

.board-wrapper h2 {
  font-size: 3rem;
  color: gold;
  text-align: center;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

#start,
#erase {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px;
}

.grid-container {
  background-color: white;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: 512px;
}

/* .grid-container div {
  background-color: blue;
} */

.grid-container div:hover {
  background-color: gray;
}
